img {
    padding: 0;
}

.text-menu-medium-14 {
    font-family: "Outfit";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    color: #444444;
}

button {
    font-family: "Outfit";
    font-size: 12px;
    font-weight: 600;
    padding: 14px 20px;
    border: none;
    background-color: #996830;
    margin: 0;
    color: #fff;
    height: 44px;
    line-height: 16px;
    width: 100%;
    transition: ease-in 0.2s;
}
button:hover {
    color: #2C2C2C;
}

.arrow-right {
    padding-left: 4px;
    transform: rotate(-45deg);
    font-size: 13px;
}

.text-title-medium-72 {
    font-family: 'Playfair Display';
    font-size: 72px;
    font-weight: 500;
    line-height: 96px;
    letter-spacing: -1.8px;
    margin: 0;
    color: #2C2C2C;
}

.text-title-regular-60 {
    font-family: 'Playfair Display';
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -1.5px;
    margin: 0;
    color: #2C2C2C;
}

.text-title-regular-48 {
    font-family: 'Playfair Display';
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    color: #2C2C2C;
}

.text-title-regular-36 {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    margin: 0;
    color: #2C2C2C;
}

.text-title-regular-24 {
    font-family: 'Playfair Display';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    color: #2C2C2C;
}

.text-title-italic-48 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    color: #996830;
    text-decoration: underline;
}

.text-title-italic-24 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    color: #FFF;
    opacity: 0.5;
    writing-mode: tb-rl;
    transform: rotate(180deg)
}

.text-light-20 {
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margin: 0;
    color: #444444;
}

.text-light-18 {
    font-family: "Outfit";
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin: 0;
}

.text-light-16 {
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    color: #444444;
}

.text-semibolt-14 {
    font-family: "Outfit";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.4px;
    margin: 0;
    color: #444444;
}

.text-regular-14 {
    font-family: "Outfit";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    color: #D9D9D6;
}

.text-light-14 {
    font-family: "Outfit";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    color: #2C2C2C;
}